@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: “”‘’;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.card {
  padding: 50px;
  background-color: #7D210A;
  border-radius: 15px;
  -webkit-box-shadow: 15px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 15px 15px rgba(0, 0, 0, 0.3);
}

.main {
  background-color: #D5C29B;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a {
  color: #FFC120;
  text-decoration: none;
}

button {
  width: 120px;
  height: 50px;
  background-color: #5E1800;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 15px #7D210A;
          box-shadow: 2px 2px 15px #7D210A;
}
button a {
  color: #D5C29B;
}
button:hover, button:focus {
  background-color: #E9990B;
}
button:hover a, button:focus a {
  color: #5E1800;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

@font-face {
  font-family: "Iceberg";
  src: url("../assets/fonts/Iceberg-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato-Regular.ttf");
  font-weight: 400;
}
h1,
h2,
h4,
h5 {
  font-family: "Iceberg";
  font-weight: 500;
}

h1 {
  font-size: clamp(2.25rem, 2.1rem + 0.75vw, 3rem);
}

p {
  font-family: "Lato";
  font-size: clamp(1.2rem, 0.9333rem + 1.1852vw, 2rem);
  color: #926C57;
}

h2 {
  font-size: clamp(1.5rem, 0.6667rem + 3.7037vw, 4rem);
}

h3 {
  font-size: clamp(1.4rem, 0.8667rem + 2.3704vw, 3rem);
}

h4 {
  font-size: clamp(1.2rem, 0.9333rem + 1.1852vw, 2rem);
}

a {
  font-size: clamp(1rem, 0.8333rem + 0.7407vw, 1.5rem);
  text-decoration: none;
  padding: 0.5rem;
}

.Navbar {
  background-color: #5E1800;
  color: #D5C29B;
  height: 10vh;
  padding-left: 10%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.Location-locationsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 250px;
  width: 30vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Location-locationCard {
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Location-locationImg {
  width: 50px;
}

.Footer {
  background-color: #5E1800;
  color: #D5C29B;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Footer-text {
  font-size: clamp(1.125rem, 1.05rem + 0.375vw, 1.5rem);
}

.LandingPage {
  color: #D5C29B;
  background-color: #7D210A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  padding: 20px 0 50px;
}

.LandingPage-imgContainer {
  width: 80%;
}

.LandingPage-imgContainer img {
  width: 100%;
}

.LandingPage-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.LandingPage-formUsername {
  color: beige;
  font-family: "Lato";
}

.LandingPage-formButtonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.LandingPage-aboutContainer {
  padding: 0 20px;
  margin-left: auto;
}

.LandingPage-aboutIcon {
  width: 40px;
  -webkit-filter: invert(100%) sepia(0%) saturate(17%) hue-rotate(338deg) brightness(104%) contrast(107%);
          filter: invert(100%) sepia(0%) saturate(17%) hue-rotate(338deg) brightness(104%) contrast(107%);
}

.CrimeScenes {
  margin: 20px;
  width: 70%;
  height: 100%;
}
.CrimeScenes h2 {
  margin: 0 0 40px 0;
}

.CrimeScenes-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.CrimeScenes-category li {
  list-style-type: none;
  width: 20%;
}

.pokemonList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 20px;
  padding: 0;
  margin-top: 20%;
}

.folderName {
  bottom: -70%;
  left: 3%;
  position: absolute;
  z-index: 10;
}

.folder, .below-folder {
  position: relative;
  width: 200px;
  height: 70px;
  background: #D5C29B;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-top-right-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.below-folder {
  top: 200%;
}

.folder::before, .below-folder::before {
  width: 80px;
  height: 20px;
  content: "";
  background: #D5C29B;
  position: absolute;
  top: -20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.folder::after, .below-folder::after {
  width: 200px;
  height: 130px;
  position: absolute;
  content: "";
  background: #D5C29B;
  top: 40px;
  -webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-transform: rotateX(-10deg);
          transform: rotateX(-10deg);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.folder-inside {
  width: 180px;
  height: 130px;
  position: absolute;
  background: #fff;
  top: 20px;
  left: 10px;
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
  border: 1px solid #ddd;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.folder-inside::before {
  content: "";
  background: repeating-linear-gradient(0deg, #ffffff, #ffffff 10px, #333333 10px, #333333 20px);
  position: absolute;
  top: -37px;
  left: 65px;
  width: 60px;
  height: 150px;
  color: #343434;
  font-size: 60px;
  line-height: 30px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  opacity: 0.15;
}

.folder:hover, .below-folder:hover {
  -webkit-transform: translate(-50%, -52%);
          transform: translate(-50%, -52%);
}

.folder:hover::after, .below-folder:hover::after {
  -webkit-transform: rotateX(-15deg);
          transform: rotateX(-15deg);
}

.folder:hover .folder-inside, .below-folder:hover .folder-inside {
  -webkit-transform: rotate(-7deg) translateY(-15%);
          transform: rotate(-7deg) translateY(-15%);
}

.CrimeScene-modal {
  position: absolute;
  width: 600px;
  height: 400px;
  top: calc(50% - 200px);
  left: calc(50% - 300px);
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  outline: none;
  padding: 20px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.CrimeSceneModal-fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.CrimeSceneModal-modal-container img {
  width: 40px;
}

.CrimeSceneModal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.shape-section {
  background: transparent;
  margin-top: 30px;
  padding: 40px 0;
  list-style-type: none;
}

.diamond-shape {
  background: #D5C29B;
  height: 150px;
  text-align: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 150px;
  border-radius: 10px;
  border: 2px solid rgb(104, 71, 71);
  cursor: pointer;
}
.diamond-shape:hover {
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.624);
}
.diamond-shape:hover .Pokemon-image {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.item-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  position: relative;
}

.Pokemon-hover {
  color: rgba(0, 0, 0, 0);
  position: absolute;
  font-size: 20px;
  width: 100%;
}
.Pokemon-hover p {
  color: rgba(0, 0, 0, 0);
}
.Pokemon-hover:hover {
  color: rgb(0, 0, 0);
  z-index: 10;
  display: block;
}
.Pokemon-hover:hover p {
  color: rgb(0, 0, 0);
  opacity: 500%;
  z-index: 10;
}

.shape-section {
  background: transparent;
  margin-top: 30px;
  padding: 40px 0;
  list-style-type: none;
}

.diamond-shape {
  background: #D5C29B;
  height: 150px;
  text-align: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 150px;
  border-radius: 10px;
  border: 2px solid rgb(104, 71, 71);
  cursor: pointer;
}
.diamond-shape:hover {
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.624);
}
.diamond-shape:hover .Pokemon-image {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.item-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  position: relative;
}

.Pokemon-hover {
  color: rgba(0, 0, 0, 0);
  position: absolute;
  font-size: 20px;
  width: 100%;
}
.Pokemon-hover p {
  color: rgba(0, 0, 0, 0);
}
.Pokemon-hover:hover {
  color: rgb(0, 0, 0);
  z-index: 10;
  display: block;
}
.Pokemon-hover:hover p {
  color: rgb(0, 0, 0);
  opacity: 500%;
  z-index: 10;
}

.Pokemon-image {
  width: 65%;
  height: 90%;
}

.Pokemon-modal {
  position: absolute;
  width: 400px;
  height: 600px;
  top: calc(50% - 300px);
  left: calc(50% - 200px);
  border: 20px solid #ffe50a;
  background-image: url(https://img00.deviantart.net/0614/i/2012/106/a/e/classic_pkmn_tcg_texture_pack_by_flamingclaw-d4wcj31.png);
  overflow: auto;
  outline: none;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 2.5px 2.5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2.5px 2.5px rgba(0, 0, 0, 0.5);
}

.Pokemon-imageContainer {
  background-image: linear-gradient(45deg, #cf9401, #f9d51e, #ffff7a, #f9d51e, #ffff7a, #cf9401);
  width: 90%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 5px 5px 12px 2px rgba(0, 0, 0, 0.75);
          box-shadow: 5px 5px 12px 2px rgba(0, 0, 0, 0.75);
}

.Pokemon-modalImage {
  width: 60%;
}

.Pokemon-name {
  width: 90%;
  text-align: start;
}

.Pokemon-modalTypes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  border-bottom: 2px solid black;
}

.Pokemon-pokeball {
  width: 10%;
}
.Pokemon-pokeball img {
  width: 100%;
}

.Pokemon-typeName {
  font-weight: bold;
}

.Pokemon-hint {
  width: 90%;
}

.Pokemon-info {
  background-image: linear-gradient(45deg, #cf9401, #f9d51e, #ffff7a, #f9d51e, #ffff7a, #cf9401);
  width: 80%;
  font-size: 13px;
  font-weight: bold;
  margin: 10px 0 10px 0;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Scoreboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Scoreboard-listItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.CrimeSceneModal-modal {
  position: absolute;
  width: 600px;
  height: 90%;
  top: calc(50% - 300px);
  left: calc(50% - 300px);
  border: 1px solid #ccc;
  background: #7D210A;
  overflow: auto;
  outline: none;
  padding: 20px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #D5C29B;
}

.CrimeSceneModal-fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 5px;
  margin: 30px 0;
}

.CrimeSceneModal-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.CrimeSceneModal-container-button {
  padding: 2% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.CrimeSceneModal-textContainer {
  background-color: #E9990B;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  margin-top: 2%;
  -webkit-box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.5);
}

.CrimeSceneModal-input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  margin: 0;
  width: 2em;
  height: 2em;
  border: 0.1em solid black;
  border-radius: 50%;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 20px;
}
.CrimeSceneModal-input:checked {
  background-image: url(../assets/images/Pokeball.svg);
  -webkit-filter: sepia(80%);
          filter: sepia(80%);
}
.CrimeSceneModal-input:hover {
  cursor: pointer;
}
.CrimeSceneModal-input:focus {
  cursor: pointer;
}

.CrimeSceneModal-image {
  width: 75px;
  max-height: 6em;
  -webkit-filter: sepia(20%);
          filter: sepia(20%);
}
.CrimeSceneModal-image:hover {
  cursor: pointer;
}
.CrimeSceneModal-image:focus {
  cursor: pointer;
}

.CrimeSceneModal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.CrimeSceneModal-resultsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  padding: 10px;
}

.CrimeSceneModal-resultsContainer button {
  margin: 15px;
}

.appear {
  opacity: 0;
}

.appear-active {
  opacity: 1;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

.transitions-exit {
  opacity: 1;
}

.transitions-exit-active {
  opacity: 0;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

.About-page {
  margin: 0 auto;
  background-color: #D5C29B;
  min-height: 85vh;
  padding-bottom: 4rem;
}
.About-page h2 {
  font-size: clamp(1.5rem, 0.6667rem + 3.7037vw, 4rem);
}
.About-page p {
  font-size: clamp(1.2rem, 0.9333rem + 1.1852vw, 2rem);
  color: #926C57;
}

.About-header {
  padding: 2rem;
}

.About-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
  padding: 10px 25px;
}

.pikachu-detective {
  width: 300px;
  border-radius: 15px;
}

.Creators-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(100% - 20px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  flex-wrap: wrap;
}

.creator1,
.creator2,
.creator3,
.creator4 {
  width: 50%;
}

.badge-container {
  background-image: url("../assets/images/badge.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  width: 480px;
  height: 600px;
}

.badge-photo {
  width: 300px;
  height: 300px;
  position: relative;
}

.detective-photo {
  border-radius: 5px;
  width: 190px;
  position: absolute;
  top: 115px;
  left: 65px;
  z-index: 5;
}

.badge-description {
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
}
.badge-description p {
  color: aliceblue;
  line-height: 0rem;
}

.detective-name {
  font-style: italic;
}

.medias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.Button-about {
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-top: 2px;
}

.Gamebar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}