@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: “”‘’;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  width: 90%;
}

.card {
  padding: 30px;
  background-color: #273878;
  border-radius: 15px;
  -webkit-box-shadow: 15px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 15px 15px rgba(0, 0, 0, 0.3);
}

.main {
  background-color: #D5C29B;
  min-height: 83vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a {
  color: white;
  text-decoration: none;
}

button {
  width: 110px;
  height: 50px;
  background-color: #D5C29B;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #1a2652;
  border: 3px solid #273878;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-box-shadow: 2px 0 15px rgba(255, 255, 255, 0.119);
          box-shadow: 2px 0 15px rgba(255, 255, 255, 0.119);
}
button a {
  color: #E9990B;
  font-weight: bold;
}
button:hover, button:focus {
  background-color: #E9990B;
  color: white;
  border: none;
  -webkit-box-shadow: inset 2px 0 15px #FFC120 a;
          box-shadow: inset 2px 0 15px #FFC120 a;
  box-shadow-color: white;
}

.Go-back-button2 {
  color: #273878;
  background-color: white;
  border: none;
}
.Go-back-button2:hover {
  color: white;
  padding: 5px 10px;
}
.Go-back-button2:focus {
  border: 1px solid white;
}

@font-face {
  font-family: "Iceberg";
  src: url("../assets/fonts/Iceberg-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato-Regular.ttf");
  font-weight: 400;
}
h1,
h2,
h4,
h5 {
  font-family: "Iceberg";
  font-weight: 500;
}

h1 {
  font-size: clamp(2.25rem, 2.1rem + 0.75vw, 3rem);
}

p {
  font-family: "Lato";
  font-size: clamp(1.2rem, 0.9333rem + 1.1852vw, 2rem);
  color: white;
}

h2 {
  font-size: clamp(1.5rem, 0.6667rem + 3.7037vw, 4rem);
  color: white;
}

h3 {
  font-size: clamp(1.4rem, 0.8667rem + 2.3704vw, 3rem);
}

h4 {
  font-size: clamp(1.2rem, 0.9333rem + 1.1852vw, 2rem);
}

a {
  font-size: clamp(1rem, 0.8333rem + 0.7407vw, 1.5rem);
  text-decoration: none;
  padding: 0.5rem;
}

.Navbar {
  background-color: #1a2652;
  color: #D5C29B;
  height: 10vh;
  padding-left: 10%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 480px) {
  .Navbar {
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.Location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Location h2 {
  font-size: 2rem;
}

.Location-locationsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 250px;
  width: 30vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Location-locationCard {
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.doorEntrance {
  position: relative;
  z-index: 0;
  height: 150px;
  background-color: black;
  width: 75px;
  margin: 20px;
  padding: 2%;
  border-radius: 20% 20% 0 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.doorEntrance:hover {
  cursor: pointer;
}
.doorEntrance:focus {
  cursor: pointer;
}
.doorEntrance p {
  color: black;
  font-size: 1rem;
}
.doorEntrance:hover .doorFront {
  -webkit-transform: perspective(200px) translateZ(10px) translateX(-50px) translateY(5px) rotateY(-105deg);
          transform: perspective(200px) translateZ(10px) translateX(-50px) translateY(5px) rotateY(-105deg);
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.doorEntrance:focus .doorFront {
  -webkit-transform: perspective(200px) translateZ(10px) translateX(-50px) translateY(5px) rotateY(-105deg);
          transform: perspective(200px) translateZ(10px) translateX(-50px) translateY(5px) rotateY(-105deg);
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.doorEntrance {
  position: relative;
  z-index: 0;
  height: 150px;
  background-color: black;
  width: 75px;
  margin: 20px;
  padding: 2%;
  border-radius: 20% 20% 0 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.doorEntrance .coatOfArms {
  position: absolute;
  z-index: 10;
  width: 60px;
  height: 75px;
  top: 25%;
  left: 15%;
}
.doorEntrance:hover {
  cursor: pointer;
}
.doorEntrance:focus {
  cursor: pointer;
}
.doorEntrance .doorFront {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 20;
  border-radius: 20% 20% 0 0;
  background-color: #D5C29B;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border: 1px solid black;
  border-collapse: separate;
}
.doorEntrance .doorFront .doorknob {
  position: absolute;
  z-index: 30;
  width: 10px;
  height: 10px;
  top: 50%;
  right: 5%;
}
.doorEntrance .doorFront:hover {
  -webkit-transform: perspective(200px) translateZ(10px) translateX(-50px) translateY(5px) rotateY(-105deg);
          transform: perspective(200px) translateZ(10px) translateX(-50px) translateY(5px) rotateY(-105deg);
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.doorEntrance .doorFront:focus {
  -webkit-transform: perspective(200px) translateZ(10px) translateX(-50px) translateY(5px) rotateY(-105deg);
          transform: perspective(200px) translateZ(10px) translateX(-50px) translateY(5px) rotateY(-105deg);
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.Footer {
  background-color: #1a2652;
  color: #D5C29B;
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Footer-text {
  font-size: clamp(1.125rem, 1.05rem + 0.375vw, 1.5rem);
}

.LandingPage {
  color: #D5C29B;
  background-color: #273878;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  padding: 20px 0 50px;
}

.LandingPage-imgContainer {
  width: 80%;
}

.LandingPage-imgContainer img {
  width: 100%;
}

.LandingPage-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.LandingPage-formUsername {
  color: beige;
  font-family: "Lato";
}

.LandingPage-formButtonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.LandingPage-aboutContainer {
  padding: 0 20px;
  margin-left: auto;
}

.LandingPage-aboutIcon {
  width: 40px;
  -webkit-filter: invert(100%) sepia(0%) saturate(17%) hue-rotate(338deg) brightness(104%) contrast(107%);
          filter: invert(100%) sepia(0%) saturate(17%) hue-rotate(338deg) brightness(104%) contrast(107%);
}

.CrimeScenes {
  margin: 20px;
  width: 90%;
  height: 90%;
  max-width: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.CrimeScenes h2 {
  margin: 0 0 40px 0;
}
@media (max-width: 1100px) {
  .CrimeScenes {
    padding: 10px;
    padding-top: 30px;
    min-height: 600px;
  }
}

.CrimeScenes-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 90px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1100px) {
  .CrimeScenes-category {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 0;
  }
}
.CrimeScenes-category li {
  list-style-type: none;
  width: 18%;
  max-width: 230px;
  min-width: 86px;
}
@media (max-width: 1100px) {
  .CrimeScenes-category li {
    padding: 0;
    margin-bottom: 90px;
  }
}
@media (max-width: 480px) {
  .CrimeScenes-category li {
    width: 33%;
    margin-bottom: 75px;
  }
}

.pokemonList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin-top: 170px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 70px;
}
@media (max-width: 1100px) {
  .pokemonList {
    gap: 20px;
    margin-top: 0;
  }
}

.CrimeEvent-folderName {
  bottom: -70%;
  left: 5%;
  right: 5%;
  padding: 3px 1px;
  text-align: center;
  position: absolute;
  z-index: 10;
  color: #1a2652;
  font-size: clamp(0.7rem, 2vw, 1.1rem);
  background-color: rgba(255, 255, 255, 0.362);
  border-radius: 3px;
}

.CrimeEvent-folder, .CrimeEvent-belowFolder {
  position: relative;
  width: 80%;
  height: 70px;
  background: #D5C29B;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-top-right-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1100px) {
  .CrimeEvent-folder, .CrimeEvent-belowFolder {
    height: 65px;
  }
}
@media (max-width: 810px) {
  .CrimeEvent-folder, .CrimeEvent-belowFolder {
    height: 52px;
  }
}
@media (max-width: 480px) {
  .CrimeEvent-folder, .CrimeEvent-belowFolder {
    height: 45px;
  }
}

.CrimeEvent-belowFolder {
  top: 130%;
}
@media (max-width: 1100px) {
  .CrimeEvent-belowFolder {
    top: 50%;
  }
}

.CrimeEvent-folder::before, .CrimeEvent-belowFolder::before {
  width: 60px;
  height: 20px;
  content: "";
  background: #D5C29B;
  position: absolute;
  top: -20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.CrimeEvent-folder::after, .CrimeEvent-belowFolder::after {
  width: 100%;
  height: 150%;
  position: absolute;
  content: "";
  background: #D5C29B;
  top: 55%;
  -webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-transform: rotateX(-10deg);
          transform: rotateX(-10deg);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.CrimeEvent-folderInside {
  width: 80%;
  height: 170%;
  position: absolute;
  background: #fff;
  top: 23%;
  left: 8%;
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
  border: 1px solid #ddd;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.CrimeEvent-folderInside::before {
  content: "";
  background: repeating-linear-gradient(0deg, #ffffff, #ffffff 10px, #333333 10px, #333333 20px);
  position: absolute;
  top: -10%;
  left: 25%;
  width: 47%;
  height: 90%;
  color: #343434;
  font-size: 60px;
  line-height: 30px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  opacity: 0.15;
}
@media (max-width: 810px) {
  .CrimeEvent-folderInside::before {
    display: none;
  }
}

.CrimeEvent-folder:hover, .CrimeEvent-belowFolder:hover {
  -webkit-transform: translate(-50%, -52%);
          transform: translate(-50%, -52%);
}
@media (max-width: 810px) {
  .CrimeEvent-folder:hover, .CrimeEvent-belowFolder:hover {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.CrimeEvent-folder:hover::after, .CrimeEvent-belowFolder:hover::after {
  -webkit-transform: rotateX(-15deg);
          transform: rotateX(-15deg);
}
@media (max-width: 810px) {
  .CrimeEvent-folder:hover::after, .CrimeEvent-belowFolder:hover::after {
    -webkit-transform: none;
            transform: none;
  }
}

.CrimeEvent-folder:hover .CrimeEvent-folderInside, .CrimeEvent-belowFolder:hover .CrimeEvent-folderInside {
  -webkit-transform: rotate(-7deg) translateY(-15%);
          transform: rotate(-7deg) translateY(-15%);
}
@media (max-width: 810px) {
  .CrimeEvent-folder:hover .CrimeEvent-folderInside, .CrimeEvent-belowFolder:hover .CrimeEvent-folderInside {
    -webkit-transform: none;
            transform: none;
  }
}

.CrimeScene-modal {
  position: absolute;
  width: 600px;
  height: 400px;
  top: calc(50% - 200px);
  left: calc(50% - 300px);
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  outline: none;
  padding: 20px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.CrimeSceneModal-fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.CrimeSceneModal-modal-container img {
  width: 40px;
}

.CrimeSceneModal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.Pokemon-itemCount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.shape-section {
  background: transparent;
  list-style-type: none;
  width: 25%;
  padding: 3%;
  max-width: 260px;
  min-width: 70px;
  margin-bottom: -50px;
}
@media (max-width: 810px) {
  .shape-section {
    padding: 2%;
  }
}
@media (max-width: 480px) {
  .shape-section {
    padding: 0;
  }
}

.Pokemon-diamondShape {
  background: #D5C29B;
  text-align: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 100%;
  border-radius: 10px;
  border: 5px solid #d8ceba;
  -webkit-box-shadow: 3px 3px 10px rgba(216, 206, 186, 0.4941176471), -3px -3px 10px rgba(216, 206, 186, 0.4941176471), inset 5px 5px 10px rgba(122, 34, 16, 0.4941176471), inset -5px -5px 10px rgba(122, 34, 16, 0.4941176471);
          box-shadow: 3px 3px 10px rgba(216, 206, 186, 0.4941176471), -3px -3px 10px rgba(216, 206, 186, 0.4941176471), inset 5px 5px 10px rgba(122, 34, 16, 0.4941176471), inset -5px -5px 10px rgba(122, 34, 16, 0.4941176471);
  cursor: pointer;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.Pokemon-diamondShape:hover {
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.624);
}
.Pokemon-diamondShape:hover .Pokemon-image {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}
.Pokemon-diamondShape::after {
  padding-bottom: 100%;
  content: "";
  display: block;
}

.Pokemon-hover {
  color: rgba(0, 0, 0, 0);
  position: absolute;
  font-size: 20px;
  width: 100%;
  height: 100%;
}
.Pokemon-hover p {
  color: rgba(0, 0, 0, 0);
  font-size: clamp(0.6rem, 3vw, 1.1rem);
}
.Pokemon-hover:hover {
  color: rgb(0, 0, 0);
  z-index: 10;
  display: block;
}
.Pokemon-hover:hover p {
  color: rgb(0, 0, 0);
  z-index: 10;
}

.Pokemon-image {
  width: 65%;
  height: 90%;
  position: absolute;
}

.Pokemon-modal {
  position: absolute;
  width: 600px;
  height: 80%;
  max-height: 700px;
  top: 10%;
  left: calc(50% - 300px);
  border: 20px solid #FF9D7F;
  background-color: #273878;
  overflow: auto;
  outline: none;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 0 2.5px 2.5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2.5px 2.5px rgba(0, 0, 0, 0.5);
}
@media (max-width: 1100px) {
  .Pokemon-modal {
    width: 400px;
    left: calc(50% - 200px);
  }
}
@media (max-width: 480px) {
  .Pokemon-modal {
    width: 300px;
    left: calc(50% - 150px);
  }
}
.Pokemon-modal p {
  font-size: clamp(0.8rem, 0.8333rem + 0.9852vw, 1.2rem);
  color: white;
}
.Pokemon-modal h2 {
  margin: 20px 0;
  font-size: clamp(1.5rem, 0.6667rem + 2.7037vw, 3rem);
}

.Pokemon-imageContainer {
  background-image: linear-gradient(45deg, #C4E39C, #85A45D, #C4E39C, #83A25C, #C4E39C, #93BD5C);
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 5px 5px 12px 2px rgba(0, 0, 0, 0.75);
          box-shadow: 5px 5px 12px 2px rgba(0, 0, 0, 0.75);
}

.Pokemon-modalImage {
  width: 35%;
}
@media (max-width: 1100px) {
  .Pokemon-modalImage {
    width: 45%;
  }
}

.Pokemon-name {
  width: 90%;
  text-align: start;
}

.Pokemon-nameCenter {
  position: absolute;
  margin: 20% auto;
  width: 100%;
}

.Pokemon-detail {
  position: absolute;
  margin: 43% auto 0 auto;
  width: 100%;
}

.Pokemon-modalTypes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  border-bottom: 2px solid white;
}

.Pokemon-pokeball {
  width: 10%;
}
.Pokemon-pokeball img {
  width: 100%;
}

.Pokemon-typeName {
  font-weight: bold;
}

.Pokemon-hint {
  width: 90%;
}

.Pokemon-info {
  background-image: linear-gradient(45deg, #C4E39C, #85A45D, #C4E39C, #83A25C, #C4E39C, #93BD5C);
  width: 80%;
  font-size: 13px;
  font-weight: bold;
  margin: 10px 0 10px 0;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Pokemon-info p {
  font-size: clamp(0.6rem, 0.5033rem + 0.6052vw, 0.8rem);
  color: black;
}
@media (max-width: 810px) {
  .Pokemon-info {
    width: 90%;
  }
}

.Pokemon-close-button-container {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 5%;
  -webkit-filter: invert(11%) sepia(56%) saturate(3299%) hue-rotate(5deg) brightness(92%) contrast(101%);
          filter: invert(11%) sepia(56%) saturate(3299%) hue-rotate(5deg) brightness(92%) contrast(101%);
  top: 0;
}
@media (max-width: 480px) {
  .Pokemon-close-button-container {
    width: 30px;
    height: 30px;
  }
}
.Pokemon-close-button-container img {
  width: 100%;
  height: auto;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.Pokemon-close-button-container img:hover {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.Pokemon-close-button-container img:focus {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.Scoreboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  min-height: 75vh;
  position: relative;
  background-color: #273878;
  border-radius: 25px;
  max-width: 900px;
  width: 90vw;
  -webkit-box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
}
@media (max-width: 1000px) {
  .Scoreboard {
    max-width: 730px;
  }
}

.Score-title {
  position: absolute;
  left: 32%;
  top: -20px;
}

.crown {
  width: 50px;
  position: absolute;
  top: 110px;
  left: 3%;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}
@media (max-width: 1000px) {
  .crown {
    left: 2%;
    top: 100px;
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
}

.Score-list {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  margin-top: 8rem;
  -webkit-column-gap: 1.8rem;
     -moz-column-gap: 1.8rem;
          column-gap: 1.8rem;
  padding-left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 0;
}
.Scoreboard-listItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  min-width: 300px;
  max-width: 470px;
  background-color: #1a2652;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  margin-bottom: 15px;
}
.Scoreboard-listItem span {
  font-family: "Lato";
  font-size: clamp(1.2rem, 0.9333rem + 1.1852vw, 1.6rem);
  line-height: 3.5rem;
  color: #D5C29B;
}
@media (max-width: 1000px) {
  .Scoreboard-listItem {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
    gap: 5px;
  }
}

.Score-index {
  width: 60px;
  padding-left: 25px;
}
.Score-index span {
  color: #FFC120;
}

.Score-name {
  width: 200px;
  text-transform: uppercase;
  text-align: center;
}
.Score-name .Score-name-span {
  color: white;
}
.Score-score {
  width: 60px;
  padding-right: 0;
  text-align: center;
  background: rgb(233, 153, 11);
  background: radial-gradient(circle, rgb(233, 153, 11) 0%, rgb(255, 193, 32) 86%);
}
.Score-score span {
  color: #1a2652;
}

.Go-back {
  position: absolute;
  top: 10px;
  right: 12px;
}

.Your-score {
  width: 350px;
  height: 60px;
  text-align: center;
  position: absolute;
  left: 240px;
  bottom: 0;
  border-radius: 25px;
  background-color: #FFC120;
  border: 5px solid #E9990B;
  color: #1a2652;
  font-size: 2rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: pulse 2s 2;
          animation: pulse 2s 2;
}
@media (max-width: 1000px) {
  .Your-score {
    left: 190px;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 193, 32, 0.7);
            box-shadow: 0 0 0 0 rgba(255, 193, 32, 0.7);
  }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(255, 193, 32, 0);
            box-shadow: 0 0 0 10px rgba(255, 193, 32, 0);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 193, 32, 0);
            box-shadow: 0 0 0 0 rgba(255, 193, 32, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 193, 32, 0.7);
            box-shadow: 0 0 0 0 rgba(255, 193, 32, 0.7);
  }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(255, 193, 32, 0);
            box-shadow: 0 0 0 10px rgba(255, 193, 32, 0);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 193, 32, 0);
            box-shadow: 0 0 0 0 rgba(255, 193, 32, 0);
  }
}
.Go-back-button {
  width: 40px;
  height: 40px;
  color: #273878;
  font-weight: bold;
  background-color: white;
  border-radius: 40px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.CrimeSceneModal-modal {
  position: absolute;
  width: 600px;
  max-height: 800px;
  top: 2%;
  left: calc(50% - 300px);
  border: 1px solid #1a2652;
  background: #273878;
  overflow: auto;
  outline: none;
  padding: 15px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #D5C29B;
}
@media (max-width: 810px) {
  .CrimeSceneModal-modal {
    width: 600px;
  }
}
@media (max-width: 690px) {
  .CrimeSceneModal-modal {
    width: 500px;
    left: calc(50% - 250px);
  }
}
@media (max-width: 480px) {
  .CrimeSceneModal-modal {
    width: 300px;
    left: calc(50% - 150px);
  }
}

.CrimeSceneModal-close-button-container {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 5%;
  -webkit-filter: invert(11%) sepia(56%) saturate(3299%) hue-rotate(5deg) brightness(92%) contrast(101%);
          filter: invert(11%) sepia(56%) saturate(3299%) hue-rotate(5deg) brightness(92%) contrast(101%);
}
@media (max-width: 480px) {
  .CrimeSceneModal-close-button-container {
    width: 30px;
    height: 30px;
  }
}
.CrimeSceneModal-close-button-container img {
  width: 100%;
  height: auto;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.CrimeSceneModal-close-button-container img:hover {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.CrimeSceneModal-close-button-container img:focus {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.CrimeSceneModal-fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 5px;
  margin: 30px 0;
  border: 2px solid #1a2652;
  -webkit-box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.5);
}
@media (max-width: 480px) {
  .CrimeSceneModal-fieldset {
    padding: 10px 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.CrimeSceneModal-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.CrimeSceneModal-container-button {
  padding: 2% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.CrimeSceneModal-container-button button {
  background-color: #273878;
  width: 125px;
  font-size: 0.8rem;
  color: white;
  border: 2px solid #1a2652;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.CrimeSceneModal-container-button button:hover, .CrimeSceneModal-container-button button:focus {
  background-color: #1a2652;
  border: 2px solid #273878;
}

.CrimeSceneModal-textContainer {
  background-color: #E9990B;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  margin-top: 2%;
  -webkit-box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.5);
}
@media (max-width: 810px) {
  .CrimeSceneModal-textContainer {
    padding: 1%;
    width: 50%;
  }
}
@media (max-width: 480px) {
  .CrimeSceneModal-textContainer {
    width: 80%;
  }
}
.CrimeSceneModal-textContainer h4 {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 3px 0;
}
.CrimeSceneModal-textContainer h5 {
  font-size: 1.5rem;
}
.CrimeSceneModal-textContainer p {
  font-size: 1.2rem;
}

.CrimeSceneModal-input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  margin: 0;
  width: 2em;
  height: 2em;
  border: 0.1em solid black;
  border-radius: 50%;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 20px;
}
.CrimeSceneModal-input:checked {
  background-image: url(../assets/images/Pokeball.svg);
  -webkit-filter: sepia(80%);
          filter: sepia(80%);
}
.CrimeSceneModal-input:hover {
  cursor: pointer;
}
.CrimeSceneModal-input:focus {
  cursor: pointer;
}

.CrimeSceneModal-image {
  width: 75px;
  max-height: 6em;
  -webkit-filter: sepia(20%);
          filter: sepia(20%);
}
.CrimeSceneModal-image:hover {
  cursor: pointer;
}
.CrimeSceneModal-image:focus {
  cursor: pointer;
}

.CrimeSceneModal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media (max-width: 480px) {
  .CrimeSceneModal-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border: 2px solid #1a2652;
    margin: 2px auto;
    padding: 3%;
  }
}

.CrimeSceneModal-resultsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  padding: 10px;
}

.CrimeSceneModal-resultsContainer button {
  margin: 15px;
}

.CrimeSceneModal-miniInfoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.card-exit {
  opacity: 1;
}

.card-exit-active {
  opacity: 0;
  -webkit-transition: opacity 1000ms;
  transition: opacity 1000ms;
}

.card-enter {
  opacity: 0;
}

.card-enter-active {
  opacity: 1;
  -webkit-transition: opacity 1000ms;
  transition: opacity 1000ms;
}

.card-appear {
  opacity: 0;
}

.card-appear-active {
  opacity: 1;
  -webkit-transition: opacity 1000ms;
  transition: opacity 1000ms;
}

.card-exit {
  opacity: 1;
}

.card-exit-active {
  opacity: 0;
  -webkit-transition: opacity 1000ms;
  transition: opacity 1000ms;
}

.Scoreboard-appear {
  opacity: 0;
}

.Scoreboard-appear-active {
  opacity: 1;
  -webkit-transition: opacity 1000ms;
  transition: opacity 1000ms;
}

.Scoreboard-enter {
  opacity: 0;
}

.Scoreboard-enter-active {
  opacity: 1;
  -webkit-transition: opacity 1000ms;
  transition: opacity 1000ms;
}

.Scoreboard-exit {
  opacity: 1;
}

.Scoreboard-exit-active {
  opacity: 0;
  -webkit-transition: opacity 1000ms;
  transition: opacity 1000ms;
}

.ReactModal__Overlay {
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.About-page {
  margin: 0 auto;
  background-color: #D5C29B;
  padding-bottom: 4rem;
}
.About-page h2 {
  font-size: clamp(1.5rem, 0.6667rem + 3.7037vw, 4rem);
}
.About-page p {
  color: #1a2652;
}

.About-header {
  padding-top: 2rem;
}

.About-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
  padding: 10px 25px;
}
@media (max-width: 1100px) {
  .About-description {
    gap: 0.5rem;
  }
}
@media (max-width: 810px) {
  .About-description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 25px;
    min-width: 350px;
  }
}

.description-container {
  min-width: 350px;
}
@media (max-width: 810px) {
  .description-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
  }
}

.pikachu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pikachu-container .pikachu-detective {
  width: 300px;
  border-radius: 15px;
}
@media (max-width: 1100px) {
  .pikachu-container .pikachu-detective {
    width: 270px;
    height: 270px;
  }
}
@media (max-width: 1100px) and (max-width: 810px) {
  .pikachu-container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: absolute;
    top: 110px;
    right: 65px;
  }
  .pikachu-container .pikachu-detective {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 150px;
    height: 150px;
  }
}

.Creators-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
@media (max-width: 1100px) {
  .Creators-container {
    gap: 0rem;
  }
}

.creator1,
.creator2,
.creator3,
.creator4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}
@media (max-width: 1100px) {
  .creator1,
.creator2,
.creator3,
.creator4 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 810px) {
  .creator1,
.creator2,
.creator3,
.creator4 {
    height: 400px;
  }
}

.badge-container {
  background-image: url("../assets/images/badge.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  width: 480px;
  height: 600px;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
@media (max-width: 1000px) {
  .badge-container {
    width: 350px;
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
    height: 450px;
  }
}

.badge-description {
  width: 400px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-left: 50px;
}
.badge-description p {
  color: white;
  line-height: 0.5rem;
}
@media (max-width: 1000px) {
  .badge-description {
    width: 320px;
    height: 200px;
    padding-top: 10px;
    padding-left: 15px;
  }
}
@media (max-width: 810px) {
  .badge-description {
    padding-top: 15px;
  }
}
@media (max-width: 480px) {
  .badge-description {
    padding-top: 25px;
  }
}

.badge-photo {
  width: 300px;
  height: 300px;
  position: relative;
}
@media (max-width: 1000px) {
  .badge-photo {
    width: 200px;
    height: 200px;
  }
}

.detective-photo {
  border-radius: 5px;
  width: 190px;
  height: 185px;
  position: absolute;
  top: 54px;
  left: 65px;
}
@media (max-width: 1000px) {
  .detective-photo {
    width: 140px;
    height: 138px;
    left: 45px;
    top: 58px;
  }
}

.detective-name {
  font-style: italic;
  color: white;
  font-size: clamp(1.2rem, 0.65rem + 1.8333vw, 2.3rem);
}

.medias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

.Button-about {
  margin-top: 10px;
  width: 110px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(37, 33, 32, 0.6431372549);
  border-radius: 15px;
}
.Button-about:hover {
  background-color: #E9990B;
}
.Button-about:hover a {
  color: #1a2652;
  padding: 25px;
}

.Gamebar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Gamebar .Gamebar-title {
  color: white;
  font-size: clamp(1.2rem, 0.8333rem + 1.1852vw, 2rem);
}
.Gamebar .Gamebar-below {
  position: absolute;
  top: 120%;
  width: 100%;
  text-align: center;
}
.Gamebar .Go-back-button2 {
  width: 70px;
  border-radius: 25px;
}
.Gamebar .scoreCounter {
  color: white;
}