@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: “”‘’;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.card {
  padding: 50px;
  background-color: #926C57;
  border-radius: 15px;
  -webkit-box-shadow: 15px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 15px 15px rgba(0, 0, 0, 0.3);
}

button {
  border: none;
  padding: 0.5rem;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
}

@font-face {
  font-family: "Iceberg";
  src: url("../assets/fonts/Iceberg-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato-Regular.ttf");
  font-weight: 400;
}
h1, h2 {
  font-family: "Iceberg";
}

p {
  font-family: "Lato";
}

.Navbar {
  background-color: skyblue;
  height: 10vh;
  padding-left: 10%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.Location-locationsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 250px;
  width: 30vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Location-locationCard {
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Location-locationImg {
  width: 50px;
}

.Footer {
  background-color: lightgreen;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.LandingPage-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.Game {
  background-color: salmon;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.CrimeScenes {
  margin: 20px;
}

.CrimeScenes-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.folderName {
  bottom: -50%;
  left: 40%;
  position: absolute;
  z-index: 10;
}

:root {
  --key-value: "keyvalue";
}

/* this is for the back flap of the folder */
.folder {
  position: relative;
  width: 200px;
  height: 70px;
  background: #ffd480;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-top-right-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* this is for the folder's tab */
.folder::before {
  width: 80px;
  height: 20px;
  content: "";
  background: #ffd480;
  position: absolute;
  top: -20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* this is for the folder's front flap */
.folder::after {
  width: 200px;
  height: 130px;
  position: absolute;
  content: "";
  background: #ffcb66;
  top: 40px;
  -webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /* the transform property rotates the front flap of the folder a bit t0 make it look 3D */
  -webkit-transform: rotateX(-10deg);
  transform: rotateX(-10deg);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

/* this is for the piece of paper inside the folder */
.folder-inside {
  width: 180px;
  height: 130px;
  position: absolute;
  background: #fff;
  top: 20px;
  left: 10px;
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
  -webkit-transform: rotate(-1deg);
  transform: rotate(-1deg);
  border: 1px solid #ddd;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

/* this is for the lines on the paper */
.folder-inside::before {
  content: "";
  /* we're going to use linear gradients to create the lines */
  background: -webkit-repeating-linear-gradient(145deg, #ffffff, #ffffff 10px, #333333 7px, #333333 20px);
  background: repeating-linear-gradient(0deg, #ffffff, #ffffff 10px, #333333 10px, #333333 20px);
  position: absolute;
  top: -37px;
  left: 65px;
  width: 60px;
  height: 150px;
  color: #343434;
  font-size: 60px;
  line-height: 30px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  opacity: 0.15;
}

/* finally let's get this folder to rotate when we hover on it */
.folder:hover {
  -webkit-transform: translate(-50%, -52%);
  transform: translate(-50%, -52%);
}

.folder:hover::after {
  -webkit-transform: rotateX(-15deg);
  transform: rotateX(-15deg);
}

.folder:hover .folder-inside {
  -webkit-transform: rotate(-7deg) translateY(-15%);
  transform: rotate(-7deg) translateY(-15%);
}

/* hover over the folder to see the effect in action */
.CrimeScene-modal {
  position: absolute;
  width: 600px;
  height: 400px;
  top: calc(50% - 200px);
  left: calc(50% - 300px);
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  outline: none;
  padding: 20px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.CrimeSceneModal-fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.CrimeSceneModal-modal-container img {
  width: 40px;
}

.CrimeSceneModal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.CrimeSceneModal-modal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.PokemonList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 20px;
}

.Pokemon {
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
  min-width: 150px;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Pokemon-image {
  width: 70px;
  height: 70px;
  padding: 10px;
}

.Pokemon-modal {
  position: absolute;
  width: 600px;
  height: 400px;
  top: calc(50% - 200px);
  left: calc(50% - 300px);
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  outline: none;
  padding: 20px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Pokemon-modalImage {
  width: 200px;
}

.Pokemon-modalTypes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.Scoreboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Scoreboard-listItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}