@use './variables' as *;

.card {
    padding: 50px;
    // background-color: lavender;
    background-color: $primaryColor;
    border-radius: 15px;
    box-shadow: 15px 15px rgba(0, 0, 0, 0.3);
}

button {
    border: none;
    padding: 0.5rem;
    border-radius: 15px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
}