@use './variables' as *;
@use "mixins" as *;

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    width: 90%;
}

.card {
    padding: 30px;
    background-color: $primaryColor;
    border-radius: 15px;
    box-shadow: 15px 15px rgba(0, 0, 0, 0.3);
}

.main {
    background-color: $lightColor;
    min-height: 83vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: $white;
    text-decoration: none;
}

button {
    width: 110px;
    height: 50px;
    background-color: $lightColor;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primaryDarkColor;
    border: 3px solid $primaryColor;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 2px 0 15px rgba(255, 255, 255, 0.119);
    a {
        color: $primaryDarkColor;
    }
    &:hover,
    &:focus {
        background-color: $primaryDarkColor;
        color: $white;
        border: 1px solid $white;
        a {
            color: $white;
        }
    }
}

.Go-back-button2 {
    color: $primaryColor;
    background-color: white;
    border: 2px solid $primaryDarkColor;
    width: 57px;
    height: 52px;
    font-size: 1.1rem;
    border-radius: 15px; 
    &:hover,
    &:focus {
        background-color: $primaryDarkColor;
        color: $white;
        border: 2px solid rgba(255, 255, 255, 0.336);
        padding: 5px 10px;
    }
}