@use './variables' as *;

.card {
    padding: 30px;
    background-color: $primaryColor;
    border-radius: 15px;
    box-shadow: 15px 15px rgba(0, 0, 0, 0.3);
}

.main {
    background-color: $lightColor;
    min-height: 83vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: $white;
    text-decoration: none;
}

button {
    width: 120px;
    height: 50px;
    background-color: $lightColor;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 15px $primaryDarkColor;
    a {
        color: $secondaryDarkColor;
        font-weight: bold;
    }
    &:hover,
    &:focus {
        background-color: $secondaryDarkColor;
        a {
            color: $primaryDarkColor
        }
    }
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    width: 90%;
}