@use "variables" as *;
@use "mixins" as *;

.CrimeSceneModal-modal {
    position: absolute;
    width: 600px;
    max-height: 800px;
    top: 2%;
    left: calc(50% - 300px);
    border: 1px solid $primaryDarkColor;
    background: $primaryColor;
    overflow: auto;
    outline: none;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $lightColor;

    @include tablet {
        width: 600px;
    }

    @media (max-width:690px) {
        width: 500px;
        left: calc(50% - 250px);
    }

    @include mobile {
        width: 300px;
        left: calc(50% - 150px);
    }
}

.CrimeSceneModal-close-button-container {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 5%;
    filter: invert(11%) sepia(56%) saturate(3299%) hue-rotate(5deg) brightness(92%) contrast(101%);

    @include mobile {
        width: 30px;
        height: 30px;
    }

    img {
        width: 100%;
        height: auto;
        display: block;
        transition: 0.3s;

        &:hover {
            transform: rotateZ(180deg);
            cursor: pointer;
            transition: 0.3s;
        }

        &:focus {
            transform: rotateZ(180deg);
            cursor: pointer;
            transition: 0.3s;
        }
    }
}

.CrimeSceneModal-fieldset {
    display: flex;
    justify-content: space-between;
    padding: 20px 5px;
    margin: 30px 0;
    border: 2px solid $primaryDarkColor;
    box-shadow: 0 3px 2px 1px rgba(0, 0, 0, .5);

    @include mobile {
        padding: 10px 5px;
        flex-direction: column;
        align-self: flex-end;
    }
}

.CrimeSceneModal-container {
    justify-content: space-between;
}

.CrimeSceneModal-container-button {
    padding: 2% 0;
    display: flex;
    align-items: center;
    flex-direction: column;

    button {
        background-color: $primaryColor;
        width: 125px;
        font-size: 0.8rem;
        color: $white;
        border: 2px solid $primaryDarkColor;
        transition: 0.4s ease-in-out;

        &:hover,
        &:focus {
            background-color: $primaryDarkColor;
            border: 2px solid $primaryColor;
        }
    }
}

.CrimeSceneModal-textContainer {
    background-color: $secondaryDarkColor;
    padding: 2%;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 2%;
    box-shadow: 0 3px 2px 1px rgba(0, 0, 0, .5);

    @include tablet {
        padding: 1%;
        width: 50%;
    }

    @include mobile {
        width: 80%;
    }

    h4 {
        font-size: 1.6rem;
        font-weight: 600;
        margin: 3px 0;
    }

    h5 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.2rem;
    }
}


.CrimeSceneModal-input {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    width: 2em;
    height: 2em;
    border: 0.1em solid black;
    border-radius: 50%;
    align-self: center;
    margin-bottom: 20px;


    &:checked {
        background-image: url(../assets/images/Pokeball.svg);
        filter: sepia(80%);
    }

    &:hover {
        cursor: pointer;
    }

    &:focus {
        cursor: pointer;
    }
}




.CrimeSceneModal-image {
    width: 75px;
    max-height: 6em;
    filter: sepia(20%);

    &:hover {
        cursor: pointer;
    }

    &:focus {
        cursor: pointer;
    }
}

.CrimeSceneModal-container {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;


    @include mobile {
        flex-direction: row;
        justify-content: space-around;
        border: 2px solid $primaryDarkColor;
        margin: 2px auto;
        padding: 3%;
    }
}

.CrimeSceneModal-resultsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    padding: 10px;
}

.CrimeSceneModal-resultsContainer button {
    margin: 15px;
}

.CrimeSceneModal-miniInfoContainer {
    display: flex;
    gap: 20px;
}