@use './variables' as *;

.CrimeScenes {
    margin: 20px;
    width: 70%;
    height: 100%;
    h2{
        margin: 0 0 40px 0;
    }
}

.CrimeScenes-category {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    li{
        list-style-type: none;
        width: 20%;
    }
}

.pokemonList {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 0;
    margin-top: 20%;
}

.folderName{
    bottom: -70%;
    left: 3%;
    position: absolute;
    z-index: 10;
    // text-align: center;
}

.folder, .below-folder{
    position: relative;
	width: 200px;
	height: 70px;
	background: #D5C29B;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-top-right-radius: 5px;
	cursor: pointer;
	transition: all 300ms ease;
    display: flex;
}

.below-folder{
    top: 200%;
}

.folder::before, .below-folder::before{
	width: 80px;
	height: 20px;
	content: "";
	background: #D5C29B;
	position: absolute;
	top: -20px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.folder::after, .below-folder::after{
	width: 200px;
	height: 130px;
	position: absolute;
	content: '';
	background: #D5C29B;
	top: 40px;
	box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	transform: rotateX(-10deg);
	transition: all 400ms ease;
}

.folder-inside{
	width: 180px;
	height: 130px;
	position: absolute;
	background: #fff;
	top: 20px;
	left: 10px;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
	transform: rotate(-1deg);
	border: 1px solid #ddd;
	transition: all 200ms ease;
}

.folder-inside::before{
	content: '';
	background: repeating-linear-gradient(0deg, #ffffff, #ffffff 10px, #333333 10px, #333333 20px);
	position: absolute;
	top: -37px;
	left: 65px;
	width: 60px;
	height: 150px;
	color: #343434;
	font-size: 60px;
	line-height: 30px;
	transform: rotate(-90deg);
	opacity: 0.15;
}

.folder:hover, .below-folder:hover{
	transform: translate(-50%, -52%);
}
.folder:hover::after, .below-folder:hover::after{
	transform: rotateX(-15deg);
}
.folder:hover .folder-inside, .below-folder:hover .folder-inside{
	transform: rotate(-7deg) translateY(-15%);
}

.CrimeScene-modal {
    position: absolute;
    width: 600px;
    height: 400px;
    top: calc(50% - 200px);
    left: calc(50% - 300px);
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    outline: none;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CrimeSceneModal-fieldset {
    display: flex;
    justify-content: space-between;
}

.CrimeSceneModal-modal-container img {
    width: 40px;
}

.CrimeSceneModal {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.CrimeSceneModal-modal-container {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.shape-section {
    background: transparent;
    margin-top: 30px;
    padding: 40px 0;
    list-style-type: none;
}
.diamond-shape {
    background: #D5C29B;
    height: 150px;
    text-align: center;
    transform:rotate(45deg);
    width:150px;
    border-radius: 10px;
    border: 2px solid rgb(104, 71, 71);
    cursor: pointer;
    &:hover{
        // opacity: 30%;
        z-index: 20;
        // position: relative;
        background-color: rgba(255, 255, 255, 0.624);
        .Pokemon-image{
            filter: blur(4px);
        }
        // background-color: rgba(255,255,255,0.9);
    }
    // img{
    //     &:hover{
    //         opacity: 30%;
    //     }
    // }
    // &::after{
    //     content: "pokemon";
    //     transform:rotate(45deg);
    // }
}
.item-count {
    display: flex;
    height: 150px;
    transform: rotate(-45deg);
    flex-direction: column;
    align-items: center;
	width:150px;
    position: relative;
}

.Pokemon-hover{
    // display:none;
    color: rgba(0,0,0,0);
    position: absolute;
    font-size: 20px;
    width: 100%;
    p{
        color: rgba(0,0,0,0);
        
    }
    &:hover{
        p{
            color: rgba(0,0,0,1);
            opacity: 500%;
            z-index: 10;
        }
        color: rgba(0,0,0,1);
        z-index: 10;
        display: block;
    }
}