.CrimeSceneModal-modal {
    position: absolute;
    width: 600px;
    height: 400px;
    top: calc(50% - 200px);
    left: calc(50% - 300px);
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    outline: none;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.CrimeSceneModal-fieldset {
    display: flex;
    justify-content: space-between;
}

.CrimeSceneModal-container {
    justify-content: space-between;
}



.CrimeSceneModal-input {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    width: 2em;
    height: 2em;
    border: 0.1em solid black;
    border-radius: 50%;
    align-self: center;
    margin-bottom: 20px;


    &:checked {
        background-image: url(../assets/images/Pokeball.svg);
    }

    &:hover {
        cursor: pointer;
    }

    &:focus {
        cursor: pointer;
    }
}


.CrimeSceneModal-image {
    width: 75px;
    max-height: 6em;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        cursor: pointer;
    }
}

.CrimeSceneModal-modal {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.CrimeSceneModal-container {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}