@use "variables" as *;

.CrimeSceneModal-modal {
    position: absolute;
    width: 600px;
    height: 90%;
    top: calc(50% - 300px);
    left: calc(50% - 300px);
    border: 1px solid #ccc;
    background: $primaryColor;
    overflow: auto;
    outline: none;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $lightColor;

}

.CrimeSceneModal-fieldset {
    display: flex;
    justify-content: space-between;
    padding: 20px 5px;
    margin: 30px 0;
}

.CrimeSceneModal-container {
    justify-content: space-between;
}

.CrimeSceneModal-container-button {
    padding: 2% 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.CrimeSceneModal-textContainer {
    background-color: $secondaryDarkColor;
    padding: 2%;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 2%;
    box-shadow: 0 3px 2px 1px rgba(0, 0, 0, .5);
}


.CrimeSceneModal-input {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    width: 2em;
    height: 2em;
    border: 0.1em solid black;
    border-radius: 50%;
    align-self: center;
    margin-bottom: 20px;


    &:checked {
        background-image: url(../assets/images/Pokeball.svg);
        filter: sepia(80%);
    }

    &:hover {
        cursor: pointer;
    }

    &:focus {
        cursor: pointer;
    }
}


.CrimeSceneModal-image {
    width: 75px;
    max-height: 6em;
    filter: sepia(20%);

    &:hover {
        cursor: pointer;
    }

    &:focus {
        cursor: pointer;
    }
}

.CrimeSceneModal-container {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.CrimeSceneModal-resultsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    padding: 10px;
}

.CrimeSceneModal-resultsContainer button {
    margin: 15px;
}

.CrimeSceneModal-miniInfoContainer {
    display: flex;
    gap: 20px;
}