@use './variables' as *;

.LandingPage {
    color: $lightColor;
    background-color: $primaryColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.LandingPage-imgContainer {
    width: 80%;
}

.LandingPage-imgContainer img {
    width: 100%;
}

.LandingPage-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.LandingPage-formUsername {
    color: beige;
    font-family: $textFont;
}

.LandingPage-formButtonContainer {
    display: flex;
    gap: 20px;
}