@use './variables' as *;

.LandingPage {
    color: $lightColor;
    background-color: $primaryColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 20px 0 50px;
}

.LandingPage-imgContainer {
    width: 80%;
}

.LandingPage-imgContainer img {
    width: 100%;
}

.LandingPage-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.LandingPage-formUsername {
    color: beige;
    font-family: $textFont;
}

.LandingPage-formButtonContainer {
    display: flex;
    gap: 20px;
}

.LandingPage-aboutContainer {
    padding: 0 20px;
    margin-left: auto;

}

.LandingPage-aboutIcon {
    width: 40px;
    filter: invert(100%) sepia(0%) saturate(17%) hue-rotate(338deg) brightness(104%) contrast(107%);
}