@use './variables' as *;

.Navbar {
    background-color: $primaryDarkColor;
    color: $lightColor;
    height: 10vh;
    padding-left: 10%;
    margin: auto;
    display: flex;
    align-items: center;
}