@use './variables' as *;
@use "./mixins" as *;

.Navbar {
    background-color: $primaryDarkColor;
    color: $lightColor;
    height: 10vh;
    padding-left: 10%;
    margin: auto;
    display: flex;
    align-items: center;
    @include mobile{
        padding: 0;
        justify-content: center;
    }
}