@use './variables' as *;
@use "./mixins" as *;

.Pokemon-image {
    width: 65%;
    height: 90%;
    position: absolute;
}

.Pokemon-modal {
    position: absolute;
    width: 600px;
    height: 80%;
    max-height: 700px;
    top: 10%;
    left: calc(50% - 300px);
    border: 20px solid $clientOrange;
    background-color: $primaryColor;
    overflow: auto;
    outline: none;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2.5px 2.5px rgba(0, 0, 0, 0.5);

    @media(max-width: 1100px) {
        width: 400px;
        left: calc(50% - 200px);
    }

    @include mobile {
        width: 300px;
        left: calc(50% - 150px);
    }

    p {
        font-size: clamp(0.8rem, 0.8333rem + 0.9852vw, 1.2rem);
        color: $white;
    }

    h2 {
        margin: 20px 0;
        font-size: clamp(1.5rem, 0.6667rem + 2.7037vw, 3rem);
    }
}

.Pokemon-imageContainer {
    background-image: linear-gradient(45deg, #C4E39C, #85A45D, #C4E39C, #83A25C, #C4E39C, #93BD5C);
    width: 90%;
    height: fit-content;
    min-height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 12px 2px rgba(0, 0, 0, 0.75);
}

.Pokemon-modalImage {
    width: 35%;
    @media (max-width: 1100px) {
        width: 45%;
    }
}

.Pokemon-name {
    width: 90%;
    text-align: start;
}

.Pokemon-nameCenter {
    position: absolute;
    margin: 20% auto;
    width: 100%;
}

.Pokemon-detail {
    position: absolute;
    margin: 43% auto 0 auto;
    width: 100%;
}

.Pokemon-modalTypes {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    width: 90%;
    border-bottom: 2px solid $white;
}

.Pokemon-pokeball {
    width: 10%;

    img {
        width: 100%;
    }
}

.Pokemon-typeName {
    font-weight: bold;
}

.Pokemon-hint {
    width: 90%;
}

.Pokemon-info {
    background-image: linear-gradient(45deg, #C4E39C, #85A45D, #C4E39C, #83A25C, #C4E39C, #93BD5C);
    width: 80%;
    font-size: 13px;
    font-weight: bold;
    margin: 10px 0 10px 0;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: clamp(0.6rem, 0.5033rem + 0.6052vw, 0.8rem);
        color: black;
    }

    @include tablet {
        width: 90%;
    }
}

.Pokemon-close-button-container {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 5%;
    filter: invert(86%) sepia(43%) saturate(3534%) hue-rotate(309deg) brightness(106%) contrast(101%);
    top: 15px;


    @include mobile {
        width: 30px;
        height: 30px;
    }

    img {
        width: 100%;
        height: auto;
        display: block;
        transition: 0.3s;

        &:hover {
            transform: rotateZ(180deg);
            cursor: pointer;
            transition: 0.3s;
        }

        &:focus {
            transform: rotateZ(180deg);
            cursor: pointer;
            transition: 0.3s;
        }
    }
}