@use "./variables" as *;
@use "mixins" as *;

.Scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  min-height: 75vh;
  max-width: 900px;
  width: 90vw;
  position: relative;
  background-color: $primaryColor;
  border-radius: 25px;
  box-shadow: 10px 10px rgb(0 0 0 / 30%);
  @media (max-width: 1000px) {
    max-width: 730px;
  }
  @include tablet {
    margin: 1rem;
  }
  @include mobile {
    min-width: 320px;
  }
}

.Score-title {
  font-size: clamp(2.2rem, 1.6753rem + 2.583vw, 4rem);
}

.Score-list {
  column-count: 2;
  margin-top: 25px;
  column-gap: 1.8rem;
  padding-left: 0;
  transition: 0.3s;
  font-size: 0;
  li:nth-child(1) {
    position: relative;
    &::before {
        content:url('../assets/images/crown1.png');
        z-index:10;
        position: absolute;
        top: -25px;
        left: -10px;
        transform: rotate(-15deg);
    }
  }
  @include tablet {
    column-count: 1;
    column-gap: 0px;
    min-width: 200px;
  }
  @include mobile {
    width: 200px;
    margin-left: -67px;
  }
}

.Scoreboard-listItem {
  display: flex;
  gap: 30px;
  min-width: 300px;
  max-width: 470px;
  background-color: $primaryDarkColor;
  margin-bottom: 15px;
  span {
    font-family: $textFont;
    font-size: clamp(1.2rem, 0.9333rem + 1.1852vw, 1.6rem);
    line-height: 3.5rem;
    color: $lightColor;
  }
  @media (max-width: 1000px) {
    gap: 5px;
  }
  @include tablet {
    margin-bottom: 5px;
  }
  @include mobile {
    min-width: 270px;
  }
}

.Score-index {
  width: 60px;
  padding-left: 25px;
  span {
    color: $secondaryColor;
  }
}

.Score-name {
  width: 200px;
  text-transform: uppercase;
  text-align: center;
  .Score-name-span {
    color: $white;
  }
  @include tablet {
    width: 170px;
  }
  @include mobile {
    width: 160px;
  }
}

.Score-score {
  width: 60px;
  padding-right: 0;
  text-align: center;
  background: rgb(233, 153, 11);
  background: radial-gradient(circle,rgba(233, 153, 11, 1) 0%,
    rgba(255, 193, 32, 1) 86%);
  span {
    color: $primaryDarkColor;
  }
  @include mobile {
    width: 50px;
  }
}

.Your-score {
  width: 350px;
  height: 60px;
  text-align: center;
  border-radius: 25px;
  background-color: $secondaryColor;
  border: 5px solid $secondaryDarkColor;
  color: $primaryDarkColor;
  font-size: 2rem;
  transform: scale(1);
  animation: pulse 2s 2;

  @include tablet {
    width: 280px;  
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgb(255, 193, 32, 0.7);
  }

  80% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 193, 32, 0);
  }

  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 193, 32, 0);
  }
}

.Go-back-button {
  width: 40px;
  height: 40px;
  color: $primaryColor;
  font-weight: bold;
  background-color: white;
  border-radius: 40px;
  box-shadow: none;
  border: none;
}

.Go-back {
  position: absolute;
  top: 10px;
  right: 12px;
}