.appear {
    opacity: 0;
}

.appear-active {
    opacity: 1;
    transition: opacity 300ms;
}

.transitions-exit {
    opacity: 1;
}

.transitions-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}

.ReactModal__Overlay {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 500ms ease-in-out;

}

.ReactModal__Overlay--after-open {
    opacity: 1;
    transform: scale(1);
    transition: opacity 500ms ease-in-out;

}

.ReactModal__Overlay--before-close {
    opacity: 0;

}