.card-exit {
    opacity: 1;
}

.card-exit-active {
    opacity: 0;
    transition: opacity 1000ms;
}

.card-enter {
    opacity: 0;
}

.card-enter-active {
    opacity: 1;
    transition: opacity 1000ms;
}

.card-appear {
    opacity: 0;
}

.card-appear-active {
    opacity: 1;
    transition: opacity 1000ms;
}

.card-exit {
    opacity: 1;
}

.card-exit-active {
    opacity: 0;
    transition: opacity 1000ms;
}


.Scoreboard-appear {
    opacity: 0;
}

.Scoreboard-appear-active {
    opacity: 1;
    transition: opacity 1000ms;
}

.Scoreboard-enter {
    opacity: 0;
}

.Scoreboard-enter-active {
    opacity: 1;
    transition: opacity 1000ms;
}

.Scoreboard-exit {
    opacity: 1;
}

.Scoreboard-exit-active {
    opacity: 0;
    transition: opacity 1000ms;
}


.ReactModal__Overlay {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 500ms ease-in-out;

}

.ReactModal__Overlay--after-open {
    opacity: 1;
    transform: scale(1);
    transition: opacity 500ms ease-in-out;

}

.ReactModal__Overlay--before-close {
    opacity: 0;

}