@use './variables' as *;

@font-face {
    font-family: "Iceberg";
    src: url("../assets/fonts/Iceberg-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Lato";
    src: url("../assets/fonts/Lato-Regular.ttf");
    font-weight: 400;
}

h1, h2 {
    font-family: $titleFont;
}

h1 {
    font-size: clamp(2.25rem, 2.1rem + 0.75vw, 3rem);
}

p {
    font-family: $textFont;
}