$titleFont: "Iceberg";
$headingFont: "Iceberg";
$textFont: "Lato";


$primaryColor: #7D210A;
$primaryDarkColor: #5E1800;
$secondaryColor: #FFC120;
$secondaryDarkColor: #E9990B;
$lightColor: #D5C29B;
$darkColor: #926C57;
$white: white;


$clientGreen: #C4E39C;
$clientOrange: #FF9D7F;
$clientBlue: #273878;

$clientGreen: #C4E39C;
$clientOrange: #FF9D7F;
$clientBlue: #273878;