$titleFont: "Iceberg";
$headingFont: "Iceberg";
$textFont: "Lato";

$primaryColor: #926C57;
$primaryDarkColor: #7D210A;
$secondaryColor: #FFC120;
$secondaryDarkColor: #E9990B;
$lightColor: #D5C29B;
$darkColor: #5E1800;

$clientGreen: #C4E39C;
$clientOrange: #FF9D7F;
$clientBlue: #273878;
