.Navbar {
    background-color: skyblue;
    height: 10vh;
    padding-left: 10%;
    margin: auto;
    display: flex;
    align-items: center;
}

.Game {
    background-color: salmon;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Footer {
    background-color: lightgreen;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LandingPage-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.Location {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.Location-locationsContainer {
    display: flex;
    min-width: 250px;
    width: 30vw;
    align-items: center;
    justify-content: space-around;
}

.Location-locationCard {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Location-locationImg {
    width: 50px;
}

.CrimeScenes {
    margin: 20px;
}

.card {
    padding: 50px;
    background-color: lavender;
    border-radius: 15px;
    box-shadow:15px 15px rgba(0, 0, 0, 0.3);
}

button {
    border: none;
    padding: 0.5rem;
    border-radius: 15px;
    box-shadow: 5px 5px rgba(0,0,0,0.3);
}